# 1. Area of Triangle

In [3]:
print(f"Area of triangale of base 5 cm and height 8 cm is: {0.5*5*8}")

Area of triangale of base 5 cm and height 8 cm is: 20.0

# 2. Swap 2 number using 3rd Variable

In [9]:
a,b=3,6
print(f"Before swap: a={a},b={b}")
temp=a
a=b
b=temp
print(f"After swap: a={a},b={b}")

Before swap: a=3,b=6
After swap: a=6,b=3

# 3. Swap 2 number without using 3rd Variable

In [14]:
a,b=3,6
print(f"Before swap: a={a},b={b}")
a,b=b,a
print(f"After swap: a={a},b={b}")

Before swap: a=3,b=6
After swap: a=6,b=3

# 4. Generate a random number

In [25]:
import random
print(f"Random Number: {random.randint(0,100)}")

Random Number: 88

# 5.KM to Miles

In [30]:
print(f" 15 km in miles is: {15*0.6213}")

 15 km in miles is: 9.3195

# 6. Degree Celcius to Degree Farenheit

In [35]:
print(f" 15 Degree Celcius to Degree Farenheit is: {(15*(9/5)+32)}")

 15 Degree Celcius to Degree Farenheit is: 59.0

# 7. Even or Odd

In [41]:
num=int(input("Enter a number:"))
if num%2==0:
    print(f"{num} is Even")
else:
    print(f"{num} is odd")

Enter a number: 9

9 is odd

# 8. Calender

In [52]:
import calendar
print(calendar.month(2026,5))

      May 2026
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

# 9. Leap Year or Not

In [55]:
year=2026
if(year%400==0 or (year%4==0 and year % 100 !=0)):
    print(f"{year} is leap year")
else:
    print(f"{year} is not leap year")

2026 is not leap year

# 10. Prime or Not

In [102]:
n=int(input("Enter a number:"))
if n < 2:
    print("Not Prime")
else:
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            print("Not Prime")
            break
    else:
        print("Prime")

Enter a number: 7

7 is prime

# 11. Factorial of a Number

In [119]:
n=int(input("Enter a Number:"))
fact=1
for i in range(2,n+1):
    fact*=i
print(f"Factorial of Number is:{fact}")

Enter a Number: 5

Factorial of Number is:120

# 12. Factorial of a number using recursion

In [122]:
def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)
num=int(input("Enter a Number:"))
print(f"Factorial of Number is:{fact(num)}")

Enter a Number: 5

Factorial of Number is:120

# 13. Fibonacci Series (Method-1)

In [151]:
term=int(input("Enter the no.of term:"))
a,b=0,1
#count=0
if term<0:
    print("Not valid term")
elif term==1:
    print(f"Sequence is: {a}")
else:
    for _ in range(term):
        print(a,end=" ")
        a, b = a + b, a

Enter the no.of term: 10

0 1 1 2 3 5 8 13 21 34

# 14. Fibonacci Series (Method-2)

In [153]:
term=int(input("Enter the no.of term:"))
a,b=0,1
#count=0
if term<0:
    print("Not valid term")
elif term==1:
    print(f"Sequence is: {a}")
else:
    print("Fibonacci sequence are:")
    for _ in range(term): #while count<term:
        print(a,end=" ")
        last=a+b
        a=b
        b=last
        #count+1

Enter the no.of term: 10

Fibonacci sequence are:
0 1 1 2 3 5 8 13 21 34

# 14. Fibonacci Series (Method-3: Recursion)

In [149]:
def fibo(n):
    if n<=1:
        return n
    return fibo(n-1)+fibo(n-2)
term=int(input("Enter the no.of term:"))
print("Fibonacci sequence are:")
for i in range(term):
    print(fibo(i),end=" ")

Enter the no.of term: 10

Fibonacci sequence are:
0 1 1 2 3 5 8 13 21 34

# 15. Armstrong Number or Not (Based on String)

In [167]:
num=input("Enter the number:")
l=len(num)
sum=0
for i in num:
    sum+=int(i)**l
if sum==int(num):
    print(f"{num} is armstrong number")
else:
    print(f"{num} is not armstrong number")

Enter the number: 153

153 is armstrong number

# 16. Armstrong Number or Not (Based on Int)

In [169]:
num=int(input("Enter the number:"))
l=len(str(num))
sum=0
temp=num
while temp>0:
    dig=temp%10
    sum+=dig**l
    temp=temp//10
if sum==num:
    print(f"{num} is armstrong number")
else:
    print(f"{num} is not armstrong number")

Enter the number: 153

153 is armstrong number

In [ ]:
17.